doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        include header
    body.hold-transition.skin-blue.sidebar-mini
        block content
        include js
