title=AdminLTE
link(rel='stylesheet', href='/css/font-awesome.css')
link(rel='stylesheet', href='/css/AdminLTE.min.css')
link(rel='stylesheet', href='/css/skins/_all-skins.min.css')
link(rel='stylesheet', href='/plugins/iCheck/square/blue.css')